@import url('https://fonts.googleapis.com/css?family=Rubik:200,400,500');

.FilterWrapper {
  max-height: 65px;
  border-bottom: 0.5px solid #e3e3e3;
  overflow: hidden;
}

.FilterBar {
  padding-top: 10px;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  overflow-y:hidden;
  overflow-x: auto;
}
