.schoolListing .reviewOverallScore {
	position: absolute;
	width: 75px;
	height: 50px;
	bottom: 40px;
}
.schoolListing .reviewOverallScore .scoreText {
	position: relative;
	color: #000000;
	margin: auto;
	font-size: 16px;
	width: 26px;
	height: 25px;
	font-weight: 700;
	border-bottom: 3px solid #3F44B5;
}
.schoolListing .reviewOverallScore .reviewTotalNumText {
	position: relative;
	font-size: 12px;
	margin-top: 2px;
}
