.reviewWrapper {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 0.1px solid #D3D3D3;
}
.reviewWrapper .reviewTitle {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
.reviewWrapper .reviewDate {
  color: #333333;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
}

/* Reviewer */
.reviewerWrapper {
	margin-bottom: 20px;
}
.reviewerWrapper .topBar {
	font-size: 14px;
}
.reviewerWrapper .bottomStats {
	margin-top: 15px;
	line-height: 15px;
	padding: 10px;
}
.reviewerWrapper .topBar .reviewerBar {
	line-height: 15px;
	vertical-align: middle;
	margin-right: 15px;
	display: inline-block;
}
.reviewerWrapper .topBar .reviewerBarTitle {
  color: #000000;
  font-weight: 500;
}
.reviewerWrapper .topBar .reviewerBar > img {
	height: 25px;
	width: 25px;
}
.reviewerWrapper .bottomStats .reviewerStatHeader {
	font-size: 14px;
	vertical-align: middle;
	margin-right: 15px;
	display: inline-block;
	color: #000000;
	font-weight: 500;
}
.reviewerWrapper .bottomStats .reviewerStatHeader > img {
	height: 20px;
	width: 20px;
}
.reviewerWrapper .bottomStats .reviewerStat {
	font-size: 14px;
	display: inline-block;
	margin-top: 5px;
	margin-right: 10px;
	color: #000000;
}
.reviewerWrapper .bottomStats .reviewerStatLabel {
	font-size: 14px;
	color: #828282;
	width:90px;
}


/* Review Score */

.reviewScoreWrapper {
	margin-bottom: 25px;
}
.reviewScoreWrapper .reviewOverallScore {
	width: 50px;
	height: 50px;
	border: 3px solid #3F44B5;
	border-radius: 20%;
	display: flex;
}
.reviewScoreWrapper .reviewOverallScore .scoreText {
	color: #000000;
	margin: auto;
	font-size: 18px;
	font-weight: 700;
}
.reviewScoreWrapper .secondaryScoreWrapper {
	position: relative;
	width: 75px;
	height: 50px;
	margin-left: -10px;
	display: flex;
}
.reviewScoreWrapper .secondaryScoreWrapper .secondaryScore {
	color: #000000;
	margin: auto;
	padding-bottom: 15px;
	font-weight: 500;
}
.reviewScoreWrapper .secondaryScoreWrapper .secondaryScoreLabel {
	position: absolute;
	font-size: 12px;
	bottom: 0;
	left: 50%;
  	transform: translate(-50%, 0%);
  	white-space: nowrap;
}


/* Review  Text */

.reviewTextTitle {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}
.reviewTextDescription {
	color: #333333;
	font-weight: 400;
	font-size: 14px;
}
.reviewTextButton {
	margin-top: 10px;
	text-align: center;
}

/* Review Helpful */

.reviewHelpfulwrapper {
	margin-top: 20px;
}
.reviewHelpfulwrapper .reviewHelpfulCount {
	color: #000000;
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
}
.reviewHelpfulwrapper .reviewHelpfulLabel {
	color: #828282;
	display: inline-block;
	font-size: 12px;
}
.reviewHelpfulwrapper .reviewHelpfulButton {
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
}
