.schoolImage > img {
  width: 125px;
  height: 125px;
}

.media-content .schoolName {
  color: #000000;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 15px;
}

/* School Info */
.schoolInfoWrapper {
  padding-top: 40px;
}
.schoolInfoWrapper .price {
  line-height: 15px;
  margin-bottom: 15px;
}
.schoolInfoWrapper .price .basePrice {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
}
.schoolInfoWrapper .price .paymentType {
  margin-left: 8px;
  display: inline-block;
}
.schoolInfoWrapper .price .paymentType > img {
  height: 18px;
  width: auto;
  vertical-align: middle;
  margin-bottom: 2px;
}
.schoolInfoWrapper .location {
  display: flex;
  line-height: 15px;
  margin-bottom: 10px;
}
.schoolInfoWrapper .location > img {
  height: 15px;
  width: 11px;
  display: inline-block;
  margin-right: 10px;
}
.schoolInfoWrapper .campusLocationsLabel {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #828282;
  min-width: 64px; /* extra to account for smaller image */
}
.schoolInfoWrapper .campusLocations {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
}
.schoolInfoWrapper .length {
  display: flex;
  line-height: 15px;
  margin-bottom: 10px;
}
.schoolInfoWrapper .lengthImage > img {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}
.schoolInfoWrapper .lengthInWeeksLabel {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #828282;
  min-width: 60px;
}
.schoolInfoWrapper .lengthInWeeks {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
}
.schoolInfoWrapper .studentTeacherRatio {
  display: flex;
  line-height: 15px;
}
.schoolInfoWrapper .studentTeacherRatioImage > img {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}
.schoolInfoWrapper .studentTeacherRatioLabel {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #828282;
  min-width: 60px;
}
.schoolInfoWrapper .studentTeacherRatioValue {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
}



/* Student Outcomes */

.studentOutcomesWrapper {
  margin-top: 40px;
}
.studentOutcomesWrapper .studentOutcomesLabel {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.studentOutcomesWrapper .salaryOutcome .salaryOutcomeLabel {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
}
.studentOutcomesWrapper .salaryOutcome .salaryOutcomeLabel > img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.studentOutcomesWrapper .salaryOutcome .salaryOutcomeBefore {
  font-size: 14px;
}
.studentOutcomesWrapper .salaryOutcome .salaryOutcomeAfter {
  font-size: 14px;
}
.studentOutcomesWrapper .salaryOutcome .salaryOutcomeItemLabel {
  margin-right: 10px;
  color: #828282;
  min-width: 125px;
  display: inline-block;
}
.studentOutcomesWrapper .salaryOutcome .salaryOutcomeItemValue {
  color: #000000;
  display: inline-block;
  font-weight: 500;
}
.studentOutcomesWrapper .jobOutcome {
  margin-top: 15px;
}
.studentOutcomesWrapper .jobOutcome .jobOutcomeLabel {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
}
.studentOutcomesWrapper .jobOutcome .jobOutcomeLabel > img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.studentOutcomesWrapper .jobOutcome .monthsTillJob {
  font-size: 14px;
}
.studentOutcomesWrapper .jobOutcome .monthsTillJobItemLabel {
  margin-right: 10px;
  color: #828282;
  min-width: 250px;
  display: inline-block;
}
.studentOutcomesWrapper .jobOutcome .monthsTillJobItemValue {
  color: #000000;
  display: inline-block;
  font-weight: 500;
}


/* School Reviews */

.schoolReviewsWrapper {
  margin-top: 40px;
}
.schoolReviewsWrapper .schoolReviewsHeader {
  margin-bottom: 15px;
  position: relative;
}
.schoolReviewsWrapper .schoolReviewsHeader .schoolReviewsLabel {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.schoolReviewsWrapper .schoolReviewsHeader .schoolReviewsCount {
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
}
.schoolReviewsWrapper .schoolReviewsHeader .schoolReviewsNewReview {
  position: absolute;
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  top: 5px;
  right: 5px;
}
