@import '../../../node_modules/bulma/css/bulma.css';

.schoolPage {
  background-color: white;
  font-family: 'Rubik';
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.media .image > img {
	border-radius: 10%;
  width: 125px;
  height: 125px;
}

.media-content .name {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
}

.schoolInfoWrapper .stats {
  margin-top: 15px;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
