@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700|Merriweather:700');

span {
  display: inline-block;
  vertical-align: middle;
}

.Landing-Background {
    background-image: url(../../images/raft-education-background.png);
    height: 100%;
    width: 1250px;
    right: 0;
    position: absolute;
    background-position: top right;
    background-size: cover;
}

.Search-Area {
  z-index: 2;
  margin-top: 100px;
  margin-left: 200px;
  position: absolute;
}

.Title {
  color: #3F44B5;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 100px;
  position: relative;
  text-align: left;
  margin-bottom: -20px;
}

.Subtitle {
  color: #828282;
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}

.Landing-Filter {
  vertical-align: middle;
}

.Landing-Filter > p {
  color: #828282;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 300;
  text-align: left;
  float: left;
  margin-right: 30px;
}

.Button-Wrapper {
  margin-top: 60px;
  text-transform: none;
}

/* Mobile */
@media (max-width: 600px) {

  .Search-Area {
    z-index: 2;
    margin-left: 75px;
    position: absolute;
    margin-top: 10px;
  }

  .Title {
    color: #3F44B5;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 100px;
    text-align: left;
    margin-bottom: -20px;
  }

  .Subtitle {
    color: #828282;
    font-family: Rubik;
    font-weight: 300;
    font-size: 18px;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
  }

  .Button-Wrapper {
    margin-top: 30px;
    text-transform: none;
  }

  .Landing-Background {
      background-image: url(../../images/raft_background_mobile.png);
      height: 100%;
      width: 100%;
      right: 0;
      background-position: bottom right;
  }
}
