.studentInfoWrapper {
	padding-top: 40px;
}

.studentInfo {
	margin: auto;
}

.studentInfo .image > img {
  margin: auto;
  border-radius: 10%;
  width: 125px;
  height: 125px;
}

.studentInfo .studentFields {
	margin-top: 20px;
}

.studentInfo .profileButtons {
	margin-top: 40px;
}

.profileButtons .buttons .button {
	margin: auto;
	margin-top: 10px;
}

.control .studentEmail {
	width: 350px;
}
