.studentInfo {
	text-align: center;
	width: 300px;
	margin: auto;
}

.studentInfo .image > img {
  margin: auto;
  border-radius: 10%;
  width: 125px;
  height: 125px;
}

.studentInfo .name {
	margin-top: 30px;
	text-align: left;
}

.studentInfo .nameLabel {
	display: inline-block;
	font-weight: 300;
	font-size: 18px;
}

.studentInfo .nameText {
	margin-left: 10px;
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
}

.studentInfo .email {
	text-align: left;
	margin-top: 20px;
}

.studentInfo .emailLabel {
	display: inline-block;
	font-weight: 300;
	font-size: 18px;
}

.studentInfo .emailText {
	margin-left: 10px;
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
}

.studentInfo .buttons .button {
	margin: auto;
	margin-top: 40px;
}
