@import url('https://fonts.googleapis.com/css?family=Rubik:300,500,700');
@import '../node_modules/bulma/css/bulma.css';
@import '../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageBackground {
  background-color: #fafafa;
  min-height: 100vh;
  height: 100%;
}

.defaultContainer {
  background-color: white;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: auto;
  min-height: 100px;
}

.searchResults {
  font-family: 'Rubik';
  text-align: center;
}

.searchHeader {
  margin: auto;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 600px;
}
.searchHeader .searchTitle {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  margin: auto 0;
  text-align: left;
  display: block;
}
.searchHeader .searchSubtitle {
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  display: block;
  text-align: left;
  margin: auto 0;
}

.schoolList {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

.card {
  height: 100%;
  display: flex;
  white-space: nowrap;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: white;
  font-family: 'Rubik';
}

.card > img {
  margin-top: 2px;
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 10%;
}

.schoolStatsWrapper {
  text-align: left;
  position: relative;
}

/* Name */
.schoolStatsWrapper .name {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
}

/* Location */
.schoolStatsWrapper .location {
  margin-top: 3px;
  display: flex;
}
.schoolStatsWrapper .location > img {
  width: 8px;
  height: 11px;
}
.schoolStatsWrapper .location .campusLocations {
  line-height: 12px;
  font-size: 12px;
  color: #828282;
  font-weight: 300px;
  margin-left: 5px;
}

/* Price */
.schoolStatsWrapper .price {
  margin-top: 12px;
  margin-bottom: 12px;
}
.schoolStatsWrapper .price .basePrice {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
}
.schoolStatsWrapper .price .paymentType {
  margin-left: 8px;
  display: inline-block;
}
.schoolStatsWrapper .price .paymentType > img {
  height: 18px;
  width: auto;
  vertical-align: middle;
  margin-bottom: 2px;
}

/* Length */
.schoolStatsWrapper .length {
  margin-top: 5px;
  margin-top: 7px;
  vertical-align: middle;
}
.schoolStatsWrapper .length .lengthImage {
  display: inline-block;
}
.schoolStatsWrapper .length .lengthImage > img {
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.schoolStatsWrapper .length .lengthInWeeksLabel {
  display: inline-block;
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  margin-left: 8px;
}
.schoolStatsWrapper .length .lengthInWeeks {
  display: inline-block;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
}

/* Salary */
.schoolStatsWrapper .salary {
  margin-top: 5px;
  vertical-align: middle;
}
.schoolStatsWrapper .salary .salaryImage {
  display: inline-block;
}
.schoolStatsWrapper .salary .salaryImage > img {
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.schoolStatsWrapper .salary .medianGraduateSalaryLabel {
  display: inline-block;
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  margin-left: 8px;
}
.schoolStatsWrapper .salary .medianGraduateSalaryValue {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
  color: #000000;
}

/* Job Placement */
.schoolStatsWrapper .studentTeacherRatio {
  margin-top: 5px;
  vertical-align: middle;
}
.schoolStatsWrapper .studentTeacherRatio .studentTeacherRatioImage {
  display: inline-block;
}
.schoolStatsWrapper .studentTeacherRatio .studentTeacherRatioImage > img {
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.schoolStatsWrapper .studentTeacherRatio .studentTeacherRatioLabel {
  display: inline-block;
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  margin-left: 8px;
}
.schoolStatsWrapper .studentTeacherRatio .studentTeacherRatioValue {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
  color: #000000;
}

.media .image > img {
  border-radius: 10%;
}
.media-content {
  overflow: hidden;
}
.media-content .name {
  color: #000000;
}
