.writeReviewInfoWrapper {
	padding-top: 20px;
}

.writeReviewInfoWrapper .reviewInfoTitle {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.writeReviewInfoWrapper .reviewInfoText {
}

.writeReviewInfoWrapper .reviewInfoPrivacyStatement {
	font-size: 12px;
}

.writeReviewAttendanceWrapper {
  padding-top: 40px;
}

.writeReviewScoreWrapper {
	padding-top: 40px;
}

.writeReviewTextWrapper {
  padding-top: 40px;
}

.writeReviewJobWrapper {
  padding-top: 40px;
}

.reviewFieldLabel {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.required:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.submitReviewWrapper {
	padding-top: 40px;
}

.media .writeReviewSelectedSchoolName {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  width: 200px;
}

.media .writeReviewDropdownSchoolName {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}
