.writeReviewInfoWrapper {
	padding-top: 20px;
}

.writeReviewInfoWrapper .reviewInfoTitle {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.writeReviewInfoWrapper .reviewInfoText {
}

.writeReviewInfoWrapper .reviewInfoPrivacyStatement {
	font-size: 12px;
}

.writeReviewScoreWrapper {
	padding-top: 40px;
}

.reviewFieldLabel {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.submitReviewWrapper {
	padding-top: 40px;
}
