.writeReviewInfoWrapper {
	padding-top: 20px;
}

.writeReviewInfoWrapper .reviewInfoTitle {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.writeReviewInfoWrapper .reviewInfoText {
}

.writeReviewInfoWrapper .reviewInfoPrivacyStatement {
	font-size: 12px;
}

.writeReviewAttendanceWrapper {
  padding-top: 40px;
}

.writeReviewScoreWrapper {
	padding-top: 40px;
}

.reviewFieldLabel {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.submitReviewWrapper {
	padding-top: 40px;
}

.media .image > img {
  border-radius: 10%;
  width: 30px;
  height: 30px;
}

.media-content .name {
  padding-top: 4px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  width: 200px;
}

