@import url('https://fonts.googleapis.com/css?family=Rubik:200,400,500');

.FilterWrapper {
  margin-top: 5px;
  max-height: 55px;
  border-bottom: 0.5px solid #e3e3e3;
  overflow: hidden;
  padding-bottom: 5px;
}

.FilterBar {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  overflow-x: auto;
}

.FilterBar .Track {
	display: inline-block;
}

.FilterBar .CampusLocation {
	display: inline-block;
}

.FilterBar .PaymentType {
	display: inline-block;
}
