@import url('https://fonts.googleapis.com/css?family=Rubik:200,400,500');

.FilterWrapper {
  max-height: 60px;
  border-bottom: 0.5px solid #e3e3e3;
  overflow: hidden;
  padding-bottom: 20px;
}

.FilterBar {
  display: flex;
  overflow-x: auto;
}

.FilterBar .Track {
	display: inline-block;
}

.FilterBar .CampusLocation {
	display: inline-block;
}

.FilterBar .PaymentType {
	display: inline-block;
}
