@import url('https://fonts.googleapis.com/css?family=Rubik:200,400,500|Merriweather:700');

span {
  display: inline-block;
  vertical-align: middle;
}

.Landing-Background {
    background-image: url(../raft-education-background.png);
    height: 100%;
    width: 1250px;
    right: 0;
    position: absolute;
    background-position: top right;
    background-size: cover;
}

.Search-Area {
  z-index: 2;
  margin-left: 200px;
  position: absolute;
}

.Title {
  color: #3F44B5;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 100px;
  position: relative;
  text-align: left;
  margin-bottom: -140px;
}

.Subtitle {
  color: #828282;
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}

.Landing-Filter {
  vertical-align: middle;
}

.Landing-Filter > p {
  color: #828282;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 300;
  text-align: left;
  float: left;
  margin-right: 30px;
}

.Button-Wrapper {
  margin-top: 60px;
  text-transform: none;
}
