@import url('https://fonts.googleapis.com/css?family=Rubik:200,400,500');
@import '../../node_modules/bulma/css/bulma.css';

nav {
  overflow: hidden;
  padding: 1em;
  font-family: 'Rubik';
}
nav a {
  color: #FFF;
}

nav .searchBar {
  display: inline-block;
  width: 400px;
  margin-left: 15px;
}

@media (max-width: 600px) {
  nav .searchBar {
    display: inline-block;
    width: 250px;
  }
}
